## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.dbmdl
*.jfm
launchSettings.json
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Logs
logs/
*.log

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Discord CustomRP
Discord-CustomRP-master/

## Installer

installer-output/

## Build outputs
src/bin/
src/obj/

## Publish
publish/
